<!-- htmlメール -->
<table class="w-full">
  <tr>
    <td class="p-4 text-left">
      <p class="text-lg"><%= @user.last_name %> <%= @user.first_name %> 様</p>

      <hr class="border-t border-dashed border-gray-300 my-4">      <p class="mt-4">パスワード再設定のご依頼を受け付けました。</p>
      <p class="mt-2">以下のリンクからパスワードの再発行を行ってください。</p>
      <p class="mt-4">
        <a href="<%= @url %>" class="text-blue-500 font-bold">パスワードを再設定する</a>
      </p>
      <hr class="border-t border-dashed border-gray-300 my-4">
      <p class="mt-4">Memo Sprout</p>
    </td>
  </tr>
</table>
