<footer class="footer footer-center bg-gray-400 text-base-content rounded p-8">
  <nav class="grid grid-flow-col gap-4">
    <%= link_to t('shared._footer.terms'), terms_of_service_path, class: "link link-hover" %>
    <%= link_to t('shared._footer.privacy'), privacy_policy_path, class: "link link-hover" %>
    <%= link_to t('shared._footer.contact'), "https://forms.gle/B8L13hSeEwb19WFX8", class: "link link-hover" %>
  </nav>
  <aside>
    <p>© 2024. Memo Sprout</p>
  </aside>
</footer>
