@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Noto+Sans+JP:wght@100..900&display=swap');

@tailwind base;
@layer base {
  h1 {
    @apply text-xl lg:text-3xl mb-14;
  }

  body {
    background: url('bg-fabric.jpg') repeat, linear-gradient(to bottom, #F8F6F0, #EEDFC9);
    font-family: 'Noto Sans JP', sans-serif;
    color: #423521; /* テキストカラー */
  }
}

@tailwind components;
@layer components {
  /* ページ全体のコンテナ */
  .layout-container {
    @apply py-20 mx-auto max-w-7xl px-6 lg:px-8;
  }

  /* メインコンテンツの小枠 */
  .inner-box {
    @apply mx-auto max-w-2xl text-center text-sm md:text-base;
  }

  /* 白背景のコンテンツ枠 */
  .content-box {
    @apply bg-base-100 rounded-lg py-6 px-8 md:px-24 text-sm md:text-base;
  }

  /* メインコンテンツの小枠（ワイド） */
  .inner-box-w {
    @apply mx-auto max-w-5xl text-center;
  }

  .custom-header {
    @apply navbar bg-[#fffaf4] h-16 flex justify-between text-[#280f1f];
  }

  .custom-footer {
    @apply footer footer-center text-base-content rounded px-8 py-10 md:py-16 bottom-0 mx-auto shadow-inner bg-[#B99872] text-[#fff9f2];
  }

  /* メモ作成入力フォーム */
  .custom-input {
    @apply input input-bordered w-full max-w-md bg-[#FFFFFF] text-sm lg:text-base h-16;
  }

  /* ユーザー登録フォーム */
  .custom-input-sm {
    @apply input input-bordered input-sm w-full bg-[#FFFFFF];
  }

  .custom-label {
    @apply label text-sm md:text-base font-bold;
  }

  .custom-card {
    @apply card bg-[#fffefc] w-full md:w-9/12 shadow-2xl;
  }

  .custom-form {
    @apply my-8 sm:my-16 text-sm md:text-base;
  }
}

@tailwind utilities;
