<div class="layout-container">
  <div class="inner-box">
    <% content_for :title, t('.title') %>

    <!-- メモ作成 -->
    <h1><%= t('.title') %></h1>

    <!-- 書き方例 -->
    <button class="btn btn-outline btn-success mb-6" onclick="my_modal_3.showModal()"><%= t('.example') %></button>
    <%#= render "example" %> <!-- 書き方例 はヘッダーに記述のファイルを利用 -->
    <%= render "tabs" %> <!-- 感情別タブ -->
  </div>
</div>
