<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:text-center">
      <% content_for :title, "メモ作成" %>
      <h1 class=text-3xl>メモ作成</h1><br>
      <br><br>
      <%= render "example" %> <!-- 書き方例ボタン -->
      <br><br><br>
      <%= render "form", memo: @memo, form_url: confirm_memos_path %> <!-- メモ入力フォーム -->
    </div>
  </div>
</div>